<html>
    <head>
        <title>{{ title }} - Gasway</title>
        <style>
        .gwicon {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 35%;
        }
        .appstoreicon {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          position: absolute;
          display: block;
          margin-left: auto;
          margin-right: auto;
          bottom: 0;
          color: #FFFFFF;
        }
        </style>
    </head>
    <body bgcolor="#16284B">
      <img src="../static/gwiconwhite.png" alt="Gasway" class="gwicon">
      <img src="../static/Download_on_the_App_Store_Badge_ESMX_RGB_wht_100217.svg" alt="Download on the App Store" class="appstoreicon">
      <p> Icon made by https://www.flaticon.com/authors/smashicons from www.flaticon.com   Icon made by https://www.flaticon.com/authors/monkik from www.flaticon.com </p>
    </body>
</html>
